{% extends "base.html" %}
{% block contenido %}
{% import "macros.html" as macros %}

{%- if TESTING -%}
<div data-test_info="La Plantilla fue renderizada correctamente: cacao_accounting/compras/templates/compras/proveedor.html"></div>
{%- endif -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb lh-sm">
    <li class="breadcrumb-item"><a href="{{ url_for('cacao_app.pagina_inicio') }}" class="link-dark"><i class="bi bi-house"></i> Inicio</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('compras.compras_') }}" class="link-dark">Compras</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('compras.compras_proveedor_lista') }}" class="link-dark">Proveedores</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ registro.name }}</li>
  </ol>
</nav>

<div class="ca-card">
  <div class="ca-card-header">
    <h5 class="ca-card-title"><i class="bi bi-person-vcard"></i> {{ registro.name }}</h5>
  </div>
  <dl class="row p-3">
    <dt class="col-sm-3">Nombre</dt>
    <dd class="col-sm-9">{{ registro.name }}</dd>
    <dt class="col-sm-3">Nombre Comercial</dt>
    <dd class="col-sm-9">{{ registro.comercial_name or "" }}</dd>
    <dt class="col-sm-3">ID Fiscal</dt>
    <dd class="col-sm-9">{{ registro.tax_id or "" }}</dd>
    <dt class="col-sm-3">Clasificación</dt>
    <dd class="col-sm-9">{{ registro.classification or "" }}</dd>
  </dl>
</div>

{% endblock %}
