# Control de Versiones
.git
.github
.gitignore
.git-blame-ignore-revs
.vscode
.idea
.coveragerc
.coverage

# Documentacion (excluimos todo excepto el Caddyfile necesario en oci_files)
mkdocs.yml
docs/**
!docs/oci_files
!docs/oci_files/Caddyfile

# No necesitamos docker files en el contenedor
Dockerfile
docker-compose.yml

# Archivos para colaboradores
.theia
.coveragerc
.pylintrc
codecov.yml
venv
tests
development.txt
*.yml
*.db
.mypy.ini
.gitpod.yml
.gitpod.sh
run_server.sh
run_test.sh

# Cache files
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.vscode
*replit*
docs.txt
**/*.md

# Archivos temporales, compilados y caches de Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
*.egg-info
build/
dist/

# Tests dentro de cacao_accounting (no se necesitan en produccion)
cacao_accounting/query_tools/tests
cacao_accounting/static/test

# Archivos estáticos y multimedia sin usar para optimizar el tamaño de la imagen OCI
cacao_accounting/static/media/Linux
cacao_accounting/static/media/Windows
cacao_accounting/static/media/Web
cacao_accounting/static/media/brand.svg
cacao_accounting/static/media/cacao_accounting _logo.png
cacao_accounting/static/media/cacao_logo.svg
cacao_accounting/static/media/Cacao Accounting SVG.svg
cacao_accounting/static/media/circle-solid.svg

LICENSE
README.md
SECURITY.md
pyproject.toml
setup.cfg
wsgi.py
