# Control de Versiones
.git
.github
.gitignore
.vscode


# Documentacion
mkdocs.yml
docs

# No necesitamos docker files en el contenedor
Dockerfile
docker-compose.yml

# Archivos para colaboradores
.coveragerc
.pylintrc
codecov.yml
venv
tests
development.txt
requirements-databases.txt
*.yml
*.db