modules = ["web", "python-base-3.13", "nodejs-22"]
run = "source /home/runner/cacao-accounting/venv/bin/activate && CACAO_TEST=True SECRET_KEY=abcABC123 /home/runner/cacao-accounting/venv/bin/flask run --reload --debug"

[nix]
channel = "stable-24_05"

[deployment]
run = [
    "sh",
    "-c",
    "source /home/runner/cacao-accounting/venv/bin/activate && CACAO_TEST=True SECRET_KEY=abcABC123 /home/runner/cacao-accounting/venv/bin/flask run --reload --debug",
]

[[ports]]
localPort = 5000
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 80

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]
