modules = ["web", "python-base-3.13", "nodejs-22"]
run = "SECRET_KEY=abcABC123 python -m cacao_accounting"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "SECRET_KEY=abcABC123 python -m cacao_accounting"]

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 80
exposeLocalhost = true

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".html"]
id = "module:web/languageServer:html"
