include Licencias_de_Terceros.md
include LICENSE
include wsgi.py
include package.json
include yarn.lock
include make.bat
include Makefile
recursive-include cacao_accounting *.ico *.js *.css *.png *.html *.eot *.svg *.ttf *.woff *.woff2 *.jpg *.py
recursive-include docs *.py *.rst
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
