# Mantener en orden alfabetico
alembic
appdirs
babel
bcrypt
configobj
flask
flask-babel
flask-login
flask-sqlalchemy
flask-wtf
loguru
pg8000
PyMySQL
sqlalchemy
# teritorio only py >= 3.6
waitress
wtforms

#Heroku
gunicorn