# Mantener en orden alfabetico
alembic
bcrypt
babel
Flask
Flask[async]
Flask-Alembic
flask-babel
flask-login
flask-sqlalchemy
flask-wtf
loguru
lxml
pdf_reports
openpyxl
sqlalchemy
teritorio
waitress
wtforms
WTForms-SQLAlchemy
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
