# Mantener en orden alfabetico
alembic
appdirs
babel
bcrypt
configobj
flask
Flask-Alembic
flask-babel
flask-login
flask-principal
flask-reuploaded
flask-sqlalchemy
flask-wtf
loguru
psycopg2-binary
PyMySQL
sqlalchemy
sqlalchem-paginator
teritorio
waitress
wtforms
WTForms-SQLAlchemy

# Heroku
gunicorn
