{% set acceso = permisos(modulo=id_modulo("accounting"), usuario=usuario.id)%}
{% extends "base.html" %}
{% block contenido %}

<script src="{{url_for("contabilidad.gl.static", filename="gl.js")}}"></script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb lh-sm">
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ url_for("cacao_app.pagina_inicio") }}" class="link-dark">
                <i class="bi bi-house"></i>Inicio
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ url_for("contabilidad.conta") }}" class="link-dark">
                Contabilidad
            </a>
        </li>
    </ol>
</nav>

{% if entidades_creadas %}

<div>
    <div class="flex">
        <h4>Crear un Nuevo Comprobante de Diario.</h4>
    </div>
</div>


<div class="form-container" id="new-GL">
    <form>
        <div class="row" id="new-GL-HEADER">
            <div class="col">
                <label for="selectENTITY" class="form-label">Entidad:</label>
                <select class="form-control" name="selectENTITY" id="selectENTITY"></select>
                <br>
                <label for="selectSERIE" class="form-label">Serie:</label>
                <select class="form-control" name="selectSERIE" id="selectSERIE"></select>
            </div>
            <div class="col">
                <label for="selectDATE" class="form-label">Fecha:</label>
                <input class="form-control" type="date" id="selectDATE" name="selectDATE" />
                <br>
                <label for="insertREFERENCE" class="form-label">Referencia:</label>
                <input class="form-control" id="insertREFERENCE" name="insertREFERENCE" />
            </div>
        </div>
        <div class="row" id="new-GL-MEMO">
            <div class="col">
                <p></p>
                <label for="insertMEMO" class="form-label">Concepto:</label>
                <textarea class="form-control" id="insertMEMO" name="insertMEMO"></textarea>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon col-sm-3" style="background-color: #addcbb"><strong>Cuenta
                        Contable</strong></span>
                <span class="input-group-addon col-sm-3" style="background-color: #addcbb"><strong>Centro de
                        Costos</strong></span>
                <span class="input-group-addon col-sm-1"
                    style="background-color: #addcbb"><strong>Debito</strong></span>
                <span class="input-group-addon col-sm-1"
                    style="background-color: #addcbb"><strong>Credito</strong></span>
                <span class="input-group-addon col-sm-2" style="background-color: #addcbb"><strong>Memo</strong></span>
                <span class="input-group-addon col-sm-2" style="background-color: #addcbb"><strong></strong></span>
            </div>
            <div class="gl-row-container" id="new-GL-ROWS">
                <div class="gl-row" id="gl-row-1" name="gl-row-1">
                    <div class="input-group">
                        <select class="selectpicker col-sm-3" id="gl-row-1-CTA" name="gl-row-1-CTA"
                            data-live-search="true" title="Cuenta Contable">
                            <option value="0">Seleccione</option>
                        </select>
                        <select class="selectpicker col-sm-3" id="gl-row-1-CC" name="gl-row-1-CC"
                            data-live-search="true" title="Centro de Costos">
                            <option value="0">Seleccione</option>
                        </select>
                        <input class="col-sm-1" type="number" id="gl-row-1-DEBIT" name="gl-row-1-DEBIT" />
                        <input class="col-sm-1" type="number" id="gl-row-1-CREDIT" name="gl-row-1-CREDIT" />
                        <input class="col-sm-2" id="gl-row-1-MEMO" />
                        <div class="d-flex align-items-center" id="gl-row-1-ACTIONS">
                            <a data-bs-toggle="collapse" href="#gl-row-1-aditional-data" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                <span class="badge text-bg-secondary">
                                    <ion-icon name="settings"></ion-icon> Detalles
                                </span>
                            </a>
                            <span class="badge text-bg-danger">
                                <i class="bi bi-trash3" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class="collapse" id="gl-row-1-aditional-data">
                        <span><strong>Información Adicional:</strong></span>
                        <input type="hidden" id="gl-row-1-ID" name="gl-row-1-ID" value="" />
                        <input type="hidden" id="gl-row-1-ORDER" name="gl-row-1-ORDER" value="1" />
                        <input type="hidden" id="gl-row-1-TIPO" name="gl-row-1-TIPO" value="JournalEntry" />
                        <div class="row">
                            <div class="col">
                                <label for="gl-row-1-BUNIT" class="form-label">Unidad de Negocio:</label>
                                <select class="form-control" name="gl-row-1-BUNIT" id="gl-row-1-BUNIT"></select>
                                <br>
                                <label for="gl-row-1-CURRENCY" class="form-label">Moneda:</label>
                                <select class="form-control" name="gl-row-1-CURRENCY" id="gl-row-1-CURRENCY"></select>
                                <br>
                                <label for="gl-row-1-DEBITLOCAL" class="form-label">Debito en Moneda
                                    Predeterminada:</label>
                                <input class="form-control" name="gl-row-1-DEBITLOCAL" id="gl-row-1-DEBITLOCAL">
                                <br>
                                <label for="gl-row-1-PARTYTYPE" class="form-label">Tipo de Tercero:</label>
                                <select class="form-control" name="gl-row-1-PARTYTYPE" id="gl-row-1-PARTYTYPE"></select>
                                <br>
                                <label for="gl-row-1-REF1" class="form-label">Referencia 1:</label>
                                <input class="form-control" name="gl-row-1-REF1" id="gl-row-1-REF1">
                                <br>
                            </div>
                            <div class="col">
                                <label for="gl-row-1-PROJECT" class="form-label">Proyecto:</label>
                                <select class="form-control" name="gl-row-1-PROJECT" id="gl-row-1-PROJECT"></select>
                                <br>
                                <label for="gl-row-1-EXCHANGE" class="form-label">Tipo de Cambio:</label>
                                <input class="form-control" name="gl-row-1-EXCHANGE" id="gl-row-1-EXCHANGE">
                                <br>
                                <label for="gl-row-1-CREDITLOCAL" class="form-label">Credito en Moneda
                                    Predeterminada:</label>
                                <input class="form-control" name="gl-row-1-CREDITLOCAL" id="gl-row-1-CREDITLOCAL">
                                <br>
                                <label for="gl-row-1-THIRDTYPE" class="form-label">Tercero:</label>
                                <select class="form-control" name="gl-row-1-THIRDTYPE" id="gl-row-1-THIRDTYPE"></select>
                                <br>
                                <label for="gl-row-1-REF2" class="form-label">Referencia 2:</label>
                                <input class="form-control" name="gl-row-1-REF2" id="gl-row-1-REF2">
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span class="badge text-bg-success">
                <i class="bi bi-plus-circle-fill" aria-hidden="true"></i> Agregar Linea
            </span>
        </div>
        <div id="new-GL-TOTAL" class="input-group">
            <span class="input-group-addon col-sm-3" style="background-color: #addcbb"><strong>Totales</strong></span>
            <span class="input-group-addon col-sm-3" style="background-color: #addcbb"><strong></strong></span>
            <span class="input-group-addon text-end col-sm-1" style="background-color: #addcbb"><strong>0.00</strong>
            </span>
            <span class="input-group-addon text-end col-sm-1" style="background-color: #addcbb"><strong>0.00</strong>
            </span>
            <span class="input-group-addon col-sm-2" style="background-color: #addcbb"><strong></strong></span>
            <span class="input-group-addon col-sm-2" style="background-color: #addcbb"><strong></strong></span>
        </div>
        <div>
            <p></p>
            <button class=" btn btn-sm btn-primary" type="submit">Guardar</button>
            <a href="{{ url_for("contabilidad.entidades") }}" class="btn btn-sm btn-danger" type="link">Cancelar</a>
        </div>
    </form>
</div>

{% else %}

{{ macros.crear_nueva_entidad() }}

{% endif %}

{% endblock %}
