{% from "smart_select_field.html" import smart_select_field %}

{# period_range_field: label, period_from, period_to, id_prefix #}
{% macro period_range_field(label, period_from='', period_to='', id_prefix='report') -%}
<fieldset class="ca-period-range">
  <legend class="form-label mb-0">{{ _(label) }}</legend>
  <div class="d-flex gap-2">
    {% set from_filters = {"company": {"selector": "#report-company"}} %}
    {% set to_filters = {"company": {"selector": "#report-company"}} %}
    {{ smart_select_field(_("Desde"), "accounting_period_from", "accounting_period", period_from, id_prefix ~ "-period-from", 1, from_filters, ["#report-company"], ["company"]) }}
    {{ smart_select_field(_("Hasta"), "accounting_period_to", "accounting_period", period_to, id_prefix ~ "-period-to", 1, to_filters, ["#report-company"], ["company"]) }}
  </div>
</fieldset>
{%- endmacro %}
