<html>
<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</header>

<body>
<h1>Estrutura de la aplicación:</h1>

<p>Esta la estructura y funcionalidad meta de la aplicación para su desarrollo inicial.</p>
<p>Se puede ver el avance desde esta <a href = {{ url_for("indice") }}>página.</a></p>

<h2>Contabilidad:</h2>
<ul>
  <li>Maestros:</li>
  <ul>
    <li>Catalogo de Cuentas.</li>
    <li>Centros de Costos.</li>
    <li>Periodos Contables.</li>
  </ul>  
  <li>Registros:</li>
  <ul>
    <li>Comprobantes de Diario.</li>
  </ul>
  <li>Reportes:</li>
  <ul>
    <li>Libro Diario y Mayor.</li>
    <li>Balanza de Comprobación.</li>
    <li>Estado de Resultado.</li>
    <li>Balance General.</li>
  </ul>
</ul>

<h2>Caja y Banco:</h2>
<ul>
  <li>Maestros:</li>
  <ul>
    <li>Cuentas Bancarias.</li>
    <li>Caja.</li>
  </ul>
  <li>Registros:</li>
  <ul>
    <li>Depositos.</li>
    <li>Transferencia entre Cuentas.</li>
    <li>Nota de Debito.</li>
    <li>Nota de Credito.</li>
    <li>Pagos.</li>
  </ul>
</ul>

<h2>Compras:</h2>
<ul>
  <li>Maestros:</li>
    <ul>
      <li>Proveedores</li>
    </ul>
  <li>Registros:</li>
  <ul>
    <li>Solicitud de Compra.</li>
    <li>Cotización de Proveedor.</li>
    <li>Matriz de Selección.</li>
    <li>Orden de Compra.</li>
    <li>Factura de Compra.</li>
    <li>Nota de Debito.</li>
    <li>Nota de Credito.</li>
  </ul>
  <li>Reportes:</li>
  <ul>
    <li>Cuentas por Pagar.</li>
  </ul>
</ul>

<h2>Inventario:</h2>
<ul>
  <li>Maestros:</li>
  <ul>
    <li>Articulos.</li>
    <li>Almacen.</li>
    <li>Bodega.</li>
  </ul>
  <li>Registros:</li>
  <ul>
    <li>Recepción de Orden de Compra.</li>
    <li>Traslado entre bodegas.</li>
    <li>Devolución a Proveedor.</li>
    <li>Salida de Almacen.</li>
    <li>Devoluación de Cliente.</li>
  </ul>
  <li>Reportes:</li>
  <ul>
    <li>Kardex de Inventario.</li>
  </ul>
</ul>

<h2>Ventas:</h2>
<ul>
  <li>Maestros:</li>
    <ul>
        <li>Clientes.</li>
    </ul>
  <li>Registros:</li>
  <ul>
    <li>Oportunidad de Venta.</li>
    <li>Cotización para Cliente.</li>
    <li>Orden de Venta.</li>
    <li>Factura de Venta.</li>
    <li>Nota de Debito.</li>
    <li>Nota de Credito.</li>
  </ul>
  <li>Reportes:</li>
  <ul>
    <li>Cuentas por Cobrar.</li>
  </ul>
</ul>

<h2>Administración</h2>
<ul>
  <li>Maestros.</li>
  <ul>
    <li>Compañias.</li>
    <li>Roles.</li>
    <li>Usuarios.</li>
  </ul>
</ul>

</body>
</html>
