{% set acceso = permisos(modulo=id_modulo("accounting"), usuario=usuario.id)%}
{% extends "base.html" %}
{% block contenido %}

<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h4>Crear Nueva Unidad de Negocios.</h4>
      <form method="post">
        <button class=" btn btn-sm btn-primary" type="submit">Guardar</button>
        <a href="{{ url_for("contabilidad.unidades") }}" class="btn btn-sm btn-danger" type="link">Cancelar</a>
        {{ form.csrf_token }}
        <div class="row">
          <h5>Informacion Basica:</h5>
          <div class="col-6">
            <label class="form-label" for="id-entidad">Codigo:</label>
            {{ form.id(class="form-control", id="id-entidad") }}
          </div>
          <div class="col-6">
            <label class="form-label" for="nombre">Nombre:</label>
            {{ form.nombre(class="form-control", id="nombre") }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label class="form-label" for="entidad">Entidad:</label>
            {{ form.entidad(class="form-control", id="entidad") }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
