{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block contenido %}
<section>
  <h4>Centro de Costos.</h4>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <p><b>Status: </b>{{ macros.render_status(status=registro.status, lista_status=statusweb) }} {{ registro.status }}</p>
        <p><b>Codigo Centro Costo:</b> {{ registro.codigo }}</p>
        <p><b>Nombre:</b> {{ registro.nombre }}</p>
      </div>
      <div class="col-md">

        <p><b>Tipo:</b> 
          {% if registro.grupo %}
          Grupo
          {% else %}
          No Grupo
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}