{% extends "base.html" %}
{% block contenido %}

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb lh-sm">
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{{ url_for("cacao_app.pagina_inicio") }}" class="link-dark">
            <i class="bi bi-house"></i> Inicio
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{{ url_for("contabilidad.conta") }}" class="link-dark">
            Contabilidad
          </a>
        </li>
      </ol>
    </nav>
  </div>
</div>
  <h4>Catalogo de Centros de Costos.</h4>
<div class="row">
  <form>
    <h6>Seleccionar Entidad.</h6>
    <div class="row">
      <div class="col-8">
        <select class="form-control" id="entidad" name="entidad">
          {%- for entidad in entidades -%}
          <option value="{{ entidad.entidad }}">{{ entidad.nombre_comercial }}</option>
          {%- endfor -%}
        </select>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary btn-sm">
          Actualizar
        </button>
      </div>
    </div>
  </form>
  <p><strong>Entidad Actual:</strong> {{ entidad.razon_social }}</p>
  </div>
<div class="row">
  <ol class="tree">
    {%- for centrocostobase in base_centrocostos -%}
    <li>
      <a href="{{ url_for("contabilidad.centro_costo", id_cc=centrocostobase.codigo) }}" class="link-dark">
        {{ centrocostobase.codigo + " - " + centrocostobase.nombre }}
      </a>
    </li>
    {%- endfor -%}
  </ol>
</div>
{% endblock %}
