{% set acceso = permisos(modulo=id_modulo("accounting"), usuario=usuario.id)%}
{% extends "base.html" %}
{% block contenido %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb lh-sm">
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ url_for("cacao_app.pagina_inicio") }}" class="link-dark">
                <i class="bi bi-house"></i>Inicio
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ url_for("contabilidad.conta") }}" class="link-dark">
                Contabilidad
            </a>
        </li>
    </ol>
</nav>

<h4>Catalogo de Cuentas Contables.</h4>

{% if entidades_creadas %}

<form>
    <h6>Seleccionar Entidad.</h6>
    <select class="form-control" id="entidad" name="entidad">
        {%- for entidad in entidades -%}
        <option value="{{ entidad[0].code }}">{{ entidad[0].company_name }}</option>
        {%- endfor -%}
    </select>
    <button type="submit" class="btn btn-primary btn-sm">
        Actualizar
    </button>
</form>

<p><strong>Entidad Actual:</strong> {{ entidad[0].company_name }}</p>

<ul class="tree">
    {%- for ctabase in base_cuentas -%}
    <li>
        <a href="{{ url_for("contabilidad.cuenta", entity=ctabase[0].entity, id_cta=ctabase[0].code) }}"
            class="link-dark">
            {{ ctabase[0].code + " - " + ctabase[0].name }}
        </a>
        <ul>
            {%- for subcuenta01 in cuentas if subcuenta01[0].parent == ctabase[0].code-%}
            <li>
                <a href="{{ url_for("contabilidad.cuenta", entity=subcuenta01[0].entity, id_cta=subcuenta01[0].code) }}"
                    class="link-dark">
                    {{ subcuenta01[0].code + " - " + subcuenta01[0].name }}
                </a>
                <ul>
                    {%- for subcuenta02 in cuentas if subcuenta02[0].parent == subcuenta01[0].code-%}
                    <li>
                        <a href="{{ url_for("contabilidad.cuenta", entity=subcuenta02[0].entity, id_cta=subcuenta02[0].code) }}"
                            class="link-dark">
                            {{ subcuenta02[0].code + " - " + subcuenta02[0].name }}
                        </a>
                        <ul>
                            {%- for subcuenta03 in cuentas if subcuenta03[0].parent == subcuenta02[0].code-%}
                            <li>
                                <a href="{{ url_for("contabilidad.cuenta", entity=subcuenta03[0].entity, id_cta=subcuenta03[0].code) }}"
                                    class="link-dark">
                                    {{ subcuenta03[0].code + " - " + subcuenta03[0].name }}
                                </a>
                                <ul>
                                    {%- for subcuenta04 in cuentas if subcuenta04[0].parent == subcuenta03[0].code-%}
                                    <li>
                                        <a href="{{ url_for("contabilidad.cuenta", entity=subcuenta04[0].entity, id_cta=subcuenta04[0].code) }}"
                                            class="link-dark">
                                            {{ subcuenta04[0].code + " - " + subcuenta04[0].name }}
                                        </a>
                                        <ul>
                                            {%- for subcuenta05 in cuentas if subcuenta05[0].parent == subcuenta04[0].code-%}
                                            <li>
                                                <a href="{{ url_for("contabilidad.cuenta", entity=subcuenta05[0].entity, id_cta=subcuenta05[0].code) }}"
                                                    class="link-dark">
                                                    {{ subcuenta05[0].code + " - " + subcuenta05[0].name }}
                                                </a>
                                                <ul>
                                                    {%- for subcuenta06 in cuentas if subcuenta06[0].parent == subcuenta05[0].code-%}
                                                    <li>
                                                        <a href="{{ url_for("contabilidad.cuenta", entity=subcuenta06[0].entity, id_cta=subcuenta06[0].code) }}"
                                                            class="link-dark">
                                                            {{ subcuenta06[0].code + " - " + subcuenta06[0].name }}
                                                        </a>
                                                        <ul>
                                                            {%- for subcuenta07 in cuentas if subcuenta07[0].parent == subcuenta06[0].code-%}
                                                            <li>
                                                                <a href="{{ url_for("contabilidad.cuenta", entity=subcuenta07[0].entity, id_cta=subcuenta07[0].code) }}"
                                                                    class="link-dark">
                                                                    {{ subcuenta07[0].code + " - " + subcuenta07[0].name }}
                                                                </a>
                                                                <ul>
                                                                    {%- for subcuenta08 in cuentas if subcuenta08[0].parent == subcuenta07[0].code-%}
                                                                    <li>
                                                                        <a href="{{ url_for("contabilidad.cuenta", entity=subcuenta08[0].entity, id_cta=subcuenta08[0].code) }}"
                                                                            class="link-dark">
                                                                            {{ subcuenta08[0].code + " - " + subcuenta08[0].name }}
                                                                        </a>
                                                                        <ul>
                                                                            {%- for subcuenta09 in cuentas if subcuenta09.parent == subcuenta08[0].code-%}
                                                                            <li>
                                                                                <a href="{{ url_for("contabilidad.cuenta", entity=subcuenta09.entity, id_cta=subcuenta09.code) }}"
                                                                                    class="link-dark">
                                                                                    {{ subcuenta09.code + " - " + subcuenta09.name }}
                                                                                </a>
                                                                            </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% else %}

{{ macros.crear_nueva_entidad() }}

{% endif %}

{% endblock %}
