{% extends "base.html" %}
{% block contenido %}

<section>
  <h3>Entidades.</h3>
  <a class="btn btn-primary" href="{{ url_for("contabilidad.nueva_entidad") }}" role="button">Crear Nueva Entidad</a>
  <h6>Listado de Entidades:</h6>
  <ul>
  {% for entidad in entidades -%}
  <li>
    <a href = {{ url_for("contabilidad.entidad" ,id_entidad=entidad.id) }}>{{ entidad.id }}</a> - <a href = {{ url_for("contabilidad.entidad" ,id_entidad=entidad.id) }}>{{ entidad.razon_social }}</a> - <a href = {{ url_for("contabilidad.entidad" ,id_entidad=entidad.id) }}>{{ entidad.id_fiscal }}</a>
  </li>
  {%- endfor %}
  </ul>
</section>
{% endblock %}