{% extends "base.html" %}
{% block contenido %}
<main class="pf-c-page__main" tabindex="-1" id="main-content-page-default-nav-example">
  <section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
      <h1>Entidades</h1>
      <table class="pf-c-table pf-m-grid-md" role="grid" aria-label="Tabla de entidades" id="tabla-entidades">
        <thead>
          <tr role="row">
            <th role="columnheader" scope="col">ID</th>
            <th role="columnheader" scope="col">Razón Social</th>
            <th role="columnheader" scope="col">Nombre Comercial</th>
            <th role="columnheader" scope="col">ID Fiscal</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          {% for entidad in entidades -%}
          <tr role="row">
            <td role="cell" data-label="Código">{{ entidad.id }}</td>
            <td role="cell" data-label="Razón Social">{{ entidad.razon_social }}</td>
            <td role="cell" data-label="Nombre Comercial">{{ entidad.nombre_comercial }}</td>
            <td role="cell" data-label="ID Fiscal">{{ entidad.id_fiscal }}</td>
          </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </section>
</main>
{% endblock %}