{% set acceso = permisos(modulo=id_modulo("accounting"), usuario=usuario.id)%}
{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block contenido %}

<section>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb lh-sm">
      <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ url_for("cacao_app.pagina_inicio") }}" class="link-dark">
          <i class="bi bi-house"></i> Inicio
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ url_for("contabilidad.conta") }}" class="link-dark">
          Contabilidad
        </a>
      </li>
    </ol>
  </nav>
  <h4>Listado de Entidades.</h4>
  {% if entidades_creadas %}
  <a class="btn btn-primary btn-sm" href="{{ url_for("contabilidad.nueva_entidad") }}" role="button">Nueva Entidad</a>
  <table class="table table-sm">
    <caption style="display: none;">Listado de entidades.</caption>
    <thead>
      <tr>
        <th scope="col">Código de Entidad</th>
        <th scope="col">Razón Social</th>
        <th scope="col">Nombre Comercial</th>
        <th scope="col">ID Fiscal</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for item in consulta.items %}
    <tr>
      <td>
        {{ macros.render_status(status=item.status, lista_status=statusweb) }}
        <a href="{{ url_for("contabilidad.entidad", entidad_id=item.entidad) }}" class="link-dark">
          {{ item.entidad }}
        </a>
      </td>
      <td>
        <a href="{{ url_for("contabilidad.entidad", entidad_id=item.entidad) }}" class="link-dark">
          {{ item.razon_social }}
        </a>
      </td>
      <td>
        <a href="{{ url_for("contabilidad.entidad", entidad_id=item.entidad) }}" class="link-dark">
          {{ item.nombre_comercial }}
        </a>
      </td>
      <td>
        <a href="{{ url_for("contabilidad.entidad", entidad_id=item.entidad) }}" class="link-dark">
          {{ item.id_fiscal }}
        </a>
      </td>
      <td>
        {% if item.habilitada %}
        <span class="badge text-bg-secondary">Inhabilitar</span>
        {% else %}
        <span class="badge text-bg-success">Habilitar</span>
        {% endif %}

      </td>
    </tr>
    {% endfor %}
    <tbody>
    </tbody>
  </table>
</section>
<section>
  {{ macros.rendizar_paginacion(consulta=consulta, vista="contabilidad.entidades") }}
</section>

{% else %}

{{ macros.crear_nueva_entidad() }}

{% endif %}
{% endblock %}
