{% extends "base.html" %}
{% block contenido %}

<section>
  <h3>Entidades.</h3>
  <a class="btn btn-primary" href="{{ url_for("contabilidad.nueva_entidad") }}" role="button">Crear Nueva Entidad</a>
  <h6>Listado de Entidades:</h6>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Estado</th>
        <th scope="col">ID</th>
        <th scope="col">Razón Social</th>
        <th scope="col">Nombre Comercial</th>
        <th scope="col">ID Fiscal</th>
      </tr>
    </thead>
      {% for item in pagina.object_list %}
      <tr>
        <td>{{ item.habilitada }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.razon_social }}</td>
        <td>{{ item.nombre_comercial }}</td>
        <td>{{ item.id_fiscal }}</td>
      </tr>
      {% endfor %}
    <tbody>
    </tbody>
  </table>
</section>
{% endblock %}