{% set acceso = permisos(modulo=id_modulo("accounting"), usuario=usuario.id)%}
{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block contenido %}

<section>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb lh-sm">
      <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ url_for("cacao_app.pagina_inicio") }}" class="link-dark">
          <i class="bi bi-house"></i> Inicio
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ url_for("contabilidad.conta") }}" class="link-dark">
          Contabilidad
        </a>
      </li>
    </ol>
  </nav>
  <h4>Listado de Proyectos.</h4>

  {% if entidades_creadas %}

  <table class="table table-sm">
    <caption style="display: none;">Listado de Proyectos.</caption>
    <thead>
      <tr>
        <th scope="col">Código de Proyecto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Fin</th>
      </tr>
    </thead>
    {% for item in consulta.items %}
    <tr>
      <td>
        {{ macros.render_status(status=item.status, lista_status=statusweb) }}
        <a href="{{ url_for("contabilidad.entidad", entidad_id=item.entidad) }}" class="link-dark">
          {{ item.codigo }}
        </a>
      </td>
      <td>
        <a href="{{ url_for("contabilidad.entidad", entidad_id=item.entidad) }}" class="link-dark">
          {{ item.nombre }}
        </a>
      </td>
      <td>
        <a href="{{ url_for("contabilidad.entidad", entidad_id=item.entidad) }}" class="link-dark">
          {{ item.fechainicio }}
        </a>
      </td>
      <td>
        <a href="{{ url_for("contabilidad.entidad", entidad_id=item.entidad) }}" class="link-dark">
          {{ item.fechafin }}
        </a>
      </td>
    </tr>
    {% endfor %}
    <tbody>
    </tbody>
  </table>
</section>
<section>
  {{ macros.rendizar_paginacion(consulta=consulta, vista="contabilidad.proyectos") }}
</section>

{% else %}

{{ macros.crear_nueva_entidad() }}

{% endif %}

{% endblock %}
