{% extends "base.html" %}
{% block contenido %}
<section>
  <h3>Listado de Proyectos.</h3>
  <a class="btn btn-primary btn-sm" href="{{ url_for("contabilidad.nueva_unidad") }}" role="button">Nuevo Proyecto</a>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Entidad</th>
      </tr>
    </thead>
  {% for item in pagina.object_list -%}
  <tr>
    <th>
      {{ item.id }}
    </th>
    <th scope="row">
      {{ item.nombre }}
    </th>
    <td>
      {{ item.entidad }}
    </td>
  </tr>
  {%- endfor %}
</table>
</section>
<section>
  {% import "macros.html" as macros %}
  {{ macros.rendizar_paginacion(consulta_paginada=resultado, pagina_actual=pagina) }}
</section>
{% endblock %}