{% set acceso = permisos(modulo=id_modulo("accounting"), usuario=usuario.id)%}
{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block contenido %}
<section>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb lh-sm">
      <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ url_for("cacao_app.pagina_inicio") }}" class="link-dark">
          <i class="bi bi-house"></i> Inicio
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ url_for("contabilidad.conta") }}" class="link-dark">
          Contabilidad
        </a>
      </li>
    </ol>
  </nav>
  <h4>Listado de Tasas de Cambio.</h4>
  {% if entidades_creadas %}
  <a class="btn btn-primary btn-sm" href="{{ url_for("contabilidad.nueva_unidad") }}" role="button">Nueva Tasa de
    Cambio</a>
  <table class="table table-sm">
    <caption style="display: none;">Listado de Tipos de Cambio.</caption>
    <thead>
      <tr>
        <th scope="col">Base</th>
        <th scope="col">Destino</th>
        <th scope="col">Tasa</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    {% for item in consulta.items -%}
    <tr>
      <th id="{{ item.base }}-{{ item.destino }}">
        {{ item.base }}
      </th>
      <td>
        {{ item.destino }}
      </td>
      <td>
        {{ item.tasa | float }}
      </td>
      <td>
        {{ item.fecha }}
      </td>
    </tr>
    {%- endfor %}
  </table>
</section>
<section>

  {{ macros.rendizar_paginacion(consulta=consulta, vista="contabilidad.tasa_cambio") }}

</section>

{% else %}

{{ macros.crear_nueva_entidad() }}

{% endif %}
{% endblock %}
