{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block contenido %}

<section>
  <h4>Listado de Unidades de Negocio.</h4>
  <a class="btn btn-primary btn-sm" href="{{ url_for("contabilidad.nueva_unidad") }}" role="button">Nueva Unidad de Negocios</a>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Código de Entidad</th>
        <th scope="col">Nombre</th>
        <th scope="col">Entidad</th>
      </tr>
    </thead>
  {% for item in pagina.object_list -%}
  <tr>
    <td>
      {% import "macros.html" as macros %}
      {{ macros.render_status(status=item.status, lista_status=statusweb) }}
      <a href="{{ url_for("contabilidad.unidad", id_unidad=item.id) }}" class="link-dark">
        {{ item.id }}
      </a>
    </td>
    <td>
      <a href="{{ url_for("contabilidad.unidad", id_unidad=item.id) }}" class="link-dark">
        {{ item.nombre }}
      </a>
    </td>
    <td>
      <a href="{{ url_for("contabilidad.entidad", id_entidad=item.entidad) }}" class="link-dark">
        {{ item.entidad }}
      </a>
    </td>
  </tr>
  {%- endfor %}
</table>
</section>
<section>
  {% import "macros.html" as macros %}
  {{ macros.rendizar_paginacion(consulta_paginada=resultado, pagina_actual=pagina) }}
</section>
{% endblock %}