{% extends "base.html" %}
{% block contenido %}
<div class="pf-c-background-image">
    <svg xmlns="http://www.w3.org/2000/svg" class="pf-c-background-image__filter" width="0" height="0">
      <filter id="image_overlay">
        <feColorMatrix type="matrix" values="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0"></feColorMatrix>
        <feComponentTransfer color-interpolation-filters="sRGB" result="duotone">
          <feFuncR type="table" tableValues="0.086274509803922 0.43921568627451"></feFuncR>
          <feFuncG type="table" tableValues="0.086274509803922 0.43921568627451"></feFuncG>
          <feFuncB type="table" tableValues="0.086274509803922 0.43921568627451"></feFuncB>
          <feFuncA type="table" tableValues="0 1"></feFuncA>
        </feComponentTransfer>
      </filter>
    </svg>
  </div>
  <div class="pf-c-login">
    <div class="pf-c-login__container">
      <header class="pf-c-login__header">
        <img class="pf-c-brand" src="{{ url_for('static', filename='media/cacao_accounting _logo.svg') }}" alt="Cacao Accounting Logo" width="50%" height="50%"/>
      </header>
      <main class="pf-c-login__main">
        <header class="pf-c-login__main-header">
          <h1 class="pf-c-title pf-m-3xl">Cacao Accounting.</h1>
        </header>
        <div class="pf-c-login__main-body">
          <form class="pf-c-form" method="POST">
            {{ form.csrf_token }}
            <div class="pf-c-form__group">
              <label class="pf-c-form__label" for="formulario-inicio-sesion">
                <span class="pf-c-form__label-text">Usuario</span>
                <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
              </label>
              {{ form.usuario(class="pf-c-form-control", id="login-usuario") }}
          </div>
          <div class="pf-c-form__group">
            <label class="pf-c-form__label" for="formulario-inicio-sesion">
              <span class="pf-c-form__label-text">Contraseña</span>
              <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
            </label>
            {{ form.acceso(class="pf-c-form-control", id="login-contraseña") }}
        </div>
        <div class="pf-c-form__group">
          <div class="pf-c-check">
            {{ form.mantener_sesion(class="pf-c-check__input", type="checkbox", id="login-demo-checkbox", id="login-checkbox")  }}
            <label class="pf-c-check__label" for="login-demo-checkbox">Mantener sesión iniciada.</label>
          </div>
        </div>
        <div class="pf-c-form__group pf-m-action">
          <button class="pf-c-button pf-m-primary pf-m-block" type="submit">Iniciar Sesión</button>
        </div>
      </form>
    </div> 
{% endblock %}
