{% extends "base.html" %}
{% block contenido %}

<section>
  <h2>Verificación de Permisos de Acceso del Usuario.</h2>
  Datos del Usuario Actual: 
  <ul>
    <li><strong>Nombre:</strong> {{ current_user.p_nombre }} {{ current_user.s_nombre }}</li>
    <li><strong>Apellido:</strong> {{ current_user.p_apellido }} {{ current_user.s_apellido }}</li>
    <li><strong>Correo Electronico:</strong> {{ current_user.correo_e }}</li>
    <li><strong>Usuario:</strong> {{ current_user.usuario }}</li>
    <li><strong>UUID:</strong> {{ current_user.id }}</li>
  </ul>
  
  <br>
  Roles Actuales:
  <table class="table">
      <tr>
        <th>Usuario</th>
        <th>Rol</th>
        <th>UUID</th>
      </tr>
  {% for role in roles %}
      <tr>
        <td>{{ role.Usuario.usuario }}</td>
        <td>{{ role.Roles.name }}</td>
        <td>{{ role.Roles.id }}</td>
      </tr>
  {% endfor %}
  </table>
  {% for modulo in modulos %}
  <h3>Modulo {{ modulo.modulo | capitalize }}</h3>
  UUID = {{ modulo.id }}
  <table class="table">
    <tr>
      <th>Permiso</th>
      <th>Estatus</th>
    </tr>
    <tr>
      <td>Autorizado*</td>
      <td>
        {% if permisos(modulo=modulo.id).usuario_autorizado() %}
        <p style="color: green;">Permitido</p>
        {% else %}
        <p style="color: red;">No Permitido</p>
        {% endif %}
      </td>
  </table>
  * Usuario autorizado a acceder al modulo.
  <br>
  {% endfor %}
</section>
{% endblock %}
