{% extends "base.html" %}
{% block contenido %}
<main class="pf-c-page__main" tabindex="-1" id="main-content-page-default-nav-example">
  <section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
      <h1>Caja y Bancos</h1>
      <div class="pf-l-gallery pf-m-gutter">
        <div class="pf-l-gallery__item">
          <h2>Efectivo</h2>
          <p>Bancos</p>
          <p>Cuentas Bancarias</p>
          <p>Cajas</p>
          <p>Cuentas de Caja</p>
          <p>Caja Chica</p>
        </div>
        <div class="pf-l-gallery__item">
          <h2>Registros</h2>
          <p>Depositos</p>
          <p>Entrada de Pago</p>
          <p>Notas de Debito</p>
          <p>Notas de Credito</p>
          <p>Transferencia Entre Cuentas.</p>
          <p>Solicitud de Pago</p>
        </div>
        <div class="pf-l-gallery__item">
          <h2>Reportes</h2>
          <p>Saldos Bancarios</p>
          <p>Estado de Cuenta</p>
          <p>Flujo de Caja</p>
        </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}