{% import "macros.html" as macros %} {% set title = titulo|default("Cacao
Accounting") %}

<!doctype html>
<html lang="es">

<head>
  {{ macros.headertags() }}
  <title>{{ title }}</title>
</head>

<body>
  {{ macros.cabecera() }}
  {{ macros.barralateral() }}
  {%- if TESTING -%}
  <script src="https://unpkg.com/chai@4/chai.js"></script>
  <script src="https://unpkg.com/mocha/mocha.js"></script>
  {%- endif -%}

  <main class="ca-content">
    {%- if TESTING-%}
    {% block test %}
    {% endblock %}
    {%- endif -%}
    {% block contenido %}
    {% endblock %}
  </main>
</body>

</html>
