{# Esta no es una página web, contiene funciones para que puedan ser usadas en otras páginas. #}
{# Referencia: https://jinja.palletsprojects.com/en/2.11.x/templates/#macros #}

{# Ayuda a agregar a importar los mismos archivos en el header de los archivos .html #}
{% macro htmltag() -%}
<!DOCTYPE html>
<html>
<head>
  <title>Cacao Accounting</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@patternfly/patternfly/patternfly.css') }}">
  <script src="{{ url_for('static', filename='cacaoaccounting.js') }}"></script>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='media/favicon-32x32.png') }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='media/favicon-16x16.png') }}" sizes="16x16">
</head>
{%- endmacro %}

{# Ayuda a renderizar la barre superior en las páginas de la aplicación #}
{% macro appheader() %}
<header class="pf-c-page__header">
  <div class="pf-c-page__header-brand">
    <a class="pf-c-page__header-brand-link" href="{{ url_for("cacao_app.pagina_inicio") }}">
      <img class="pf-c-brand" src="{{ url_for('static', filename='media/brand.svg') }}" alt="Cacao Accounting" />
    </a>
  </div>
</header>
{%- endmacro %}

{# Ayuda a renderizar la barra lateral en las páginas de la aplicación #}
{% macro appbarralateral() -%}
<div class="pf-c-page__sidebar">
  <div class="pf-c-page__sidebar-body">
    <nav class="pf-c-nav" id="page-default-nav-example-primary-nav" aria-label="Global">
      <ul class="pf-c-nav__list">
        {% if validar_modulo_activo("accounting")  %}
        <li class="pf-c-nav__item">
          <a href="{{ url_for("contabilidad.conta") }}" class="pf-c-nav__link">Contabilidad</a>
        </li>
        {% endif %}
        {% if validar_modulo_activo("cash")  %}
        <li class="pf-c-nav__item">
          <a href="{{ url_for("bancos.bancos_") }}" class="pf-c-nav__link">Caja y Bancos</a>
        </li>
        {% endif %}
        {% if validar_modulo_activo("buying")  %}
        <li class="pf-c-nav__item">
          <a href="{{ url_for("compras.compras_") }}" class="pf-c-nav__link">Compras</a>
        </li>
        {% endif %}
        {% if validar_modulo_activo("inventory")  %}
        <li class="pf-c-nav__item">
          <a href="{{ url_for("inventario.inventario_") }}" class="pf-c-nav__link">Inventarios</a>
        </li>
        {% endif %}
        {% if validar_modulo_activo("sales")  %}
        <li class="pf-c-nav__item">
          <a href="{{ url_for("ventas.ventas_") }}" class="pf-c-nav__link">Ventas</a>
        </li>
        {% endif %}
        {% if modulos_extra %}
        {% for modulo in modulos_extra -%}
        {% if validar_modulo_activo(modulo.nombre_modulo)  %}
        <li class="pf-c-nav__item">
          <a href="{{ url_for( modulo.url ) }}" class="pf-c-nav__link">{{ modulo.nombre }} </a>
        </li>
        {% endif %}
        {%- endfor %}
        {% endif %}
        {% if validar_modulo_activo("admin")  %}
        <li class="pf-c-nav__item">
          <a href="{{ url_for("admin.admin_") }}" class="pf-c-nav__link">Administración</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{%- endmacro %}