{% extends "base.html" %}
{% block contenido %}
<main class="pf-c-page__main" tabindex="-1" id="main-content-page-default-nav-example">
  <section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
      <h1>Administración</h1>
      <div class="pf-l-gallery pf-m-gutter">
        <div class="pf-l-gallery__item">
          <h2>Modulos</h2>
          <p>Modulos</p>
        </div>
        <div class="pf-l-gallery__item">
          <h2>Usuarios y Permisos</h2>
          <p>Usuarios</p>
          <p>Perfiles</p>
        </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}