{% set acceso = permisos(modulo=id_modulo("accounting"), usuario=usuario.id)%}
{% extends "base.html" %}
{% block contenido %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb lh-sm">
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{{ url_for("cacao_app.pagina_inicio") }}" class="link-dark">
        <i class="bi bi-house"></i>Inicio
      </a>
    </li>
  </ol>
</nav>

<section>
  <h4>Módulo de Contabilidad.</h4>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h5><i class="bi bi-sliders"></i> Configuración</h5>
        <p style="font-size:14px;font-weight: bold;">
          <a href="{{ url_for("contabilidad.entidades") }}" class="text-decoration-none text-reset">Entidades</a><br>
          <a href="{{ url_for("contabilidad.cuentas") }}" class="text-decoration-none text-reset">Catálogo de
            Cuentas</a><br>
          <a href="{{ url_for("contabilidad.ccostos") }}" class="text-decoration-none text-reset">Centros de
            Costos</a><br>
          <a href="{{ url_for("contabilidad.unidades") }}" class="text-decoration-none text-reset">Unidades de
            Negocio</a><br>
          <a href="{{ url_for("contabilidad.proyectos") }}" class="text-decoration-none text-reset">Proyectos</a><br>
          <a href="{{ url_for("contabilidad.monedas") }}" class="text-decoration-none text-reset">Monedas</a><br>
          <a href="{{ url_for("contabilidad.tasa_cambio") }}" class="text-decoration-none text-reset">Tasas de
            Cambio</a><br>
          <a href="{{ url_for("contabilidad.periodo_contable") }}" class="text-decoration-none text-reset">Períodos
            Contables</a><br>
          <a href="{{ url_for("contabilidad.series") }}" class="text-decoration-none text-reset">Series e
            Indentificadores</a><br>
        </p>
      </div>
      <div class="col-md">
        <h5><i class="bi bi-card-list"></i> Registros</h5>
        <p style="font-size:14px;font-weight: bold;">
          <a href="{{ url_for("contabilidad.gl.gl_list") }}" class="text-decoration-none text-reset">Comprobantes
            Contables</a><br>
        </p>
      </div>
      <div class="col-md">
        <h5><i class="bi bi-bar-chart-fill"></i> Reportes</h5>
      </div>
    </div>
  </div>
</section>
{% endblock %}
