{% extends "base.html" %}
{% block contenido %}
<main class="pf-c-page__main" tabindex="-1" id="main-content-page-default-nav-example">
  <section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
      <h1>Inventario</h1>
      <div class="pf-l-gallery pf-m-gutter">
        <div class="pf-l-gallery__item">
          <h2>Inventarios</h2>
          <p>Items</p>
          <p>Bodegas</p>
          <p>Almacenes</p>
          <p>Unidades de Medida</p>
          <p>Factores de Conversión</p>
        </div>
        <div class="pf-l-gallery__item">
          <h2>Registros</h2>
          <p>Recepción de Bienes</p>
          <p>Salida de Inventario</p>
          <p>Devoluciones</p>
          <p>Transferencia de Inventario</p>
          <p>Ajuste de Inventario</p>
        </div>
        <div class="pf-l-gallery__item">
          <h2>Reportes</h2>
          <p>Mayor de Inventarios.</p>
          <p>Reporte de Existencias</p>
        </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}